{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  
  	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %} ">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/typebase.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assignment2/css/style.css' %}">


  <title>Robert Douma - Portfolio</title>

</head>

<body>

	<div id="container">

		<div id="textBox">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat orci ipsum, eu faucibus nisl iaculis quis. Maecenas libero velit, laoreet vitae rutrum eu, eleifend quis enim. Ut hendrerit nec ligula a sodales. Sed tristique sed enim quis dictum. Vivamus euismod a metus auctor eleifend. Nunc sem mauris, ornare eu ultrices eu, egestas feugiat dui. Mauris eu ipsum at purus blandit laoreet luctus et eros. Quisque at vulputate erat. Vivamus posuere metus facilisis molestie tristique. Nam et laoreet ipsum.

			Suspendisse ultrices felis id nisi aliquam, placerat facilisis massa convallis. Etiam sit amet fermentum lacus, eleifend viverra erat. Donec nunc elit, interdum eget ante eu, congue aliquet est. Quisque et semper felis. Suspendisse quis est urna. Ut ullamcorper elit sem. Integer iaculis nisi nec nulla finibus rhoncus.
			</p>
		</div>

		<div id="buttonBox">

			<h4>Text color</h4>

			<button id="btnA" type="button">A</button>
			<button id="btnB"  type="button">B</button>
			<button id="btnC"  type="button">C</button>
			<button id="btnD"  type="button">D</button>
			<button id="btnE"  type="button">E</button>


			<h4>Background color</h4>
			<button id="backgroundA"  type="button">A</button>
			<button id="backgroundB"  type="button">B</button>
			<button id="backgroundC"  type="button">C</button>
			<button id="backgroundD"  type="button">D</button>
			<button id="backgroundE"  type="button">E</button>
		</div>	

	</div>


  <script src="{% static 'assignment2/js/scripts.js' %}"></script>
</body>
</html>