<h1>List of Areas</h1>
<br>




{% if area_list %}

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of Locations</th>
            <th>Average Measurement</th>
            <th>Categories</th>
        </tr>

        {% for area in area_list %}
            <tr align="center">
                <td>{{ area.id }}</td><td>{{ area.name }}</td><td>{{ area.number_of_locations }}</td>

                <td>
                    {% if area.average_measurements.average %}
                        {{ area.average_measurements.average |floatformat:3 }}
                    {% else %}
                        ------
                    {% endif %}
                </td>

                <td>
                      {% for category in area.category_names %}
                          {% if not forloop.last %}
                                {{ category.name }} ,
                          {% else %}
                                {{ category.name }}
                          {% endif %}

                      {% endfor %}
                </td>
            </tr>

        {% endfor %}

    </table>

{% else %}
    <p>No areas available.</p>
{% endif %}